# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
ExportBlock-e52f4cc2-f6b5-41e3-9c00-bfd535a4a040-Part-1/
ExportBlock-253ab654-e7da-4d6b-b076-1012669e1b57-Part-1/